body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  color: white;
  
}


.nav-link:hover{
 
  margin-top: -10px;
}

.playBox:hover{
  transform: scale(0.2);
  margin-top: -50px;
}

.show:hover{
  margin-top: 10px;
  transform: scale(1.2);
}
.show{
  margin: 5px;
  
}

